<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h4 mb-2 text-gray-900">
            Agenda
        </h1>  
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
            <i class="fas fa-project-diagram fa-sm text-white-50 mr-2"></i> 
            Ver Gantt
        </a>
    </div>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive my-text-14">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <a href="#" class="float-left d-none d-sm-inline-block btn btn-sm btn-danger my-btn-red shadow-sm" 
                    data-toggle="modal" data-target="#newModal">
                        <i class="fas fa-plus fa-sm text-white-50 mr-2"></i>
                        Nueva actividad
                    </a>
                    <thead>
                        <tr>
                            <th>Curso</th>
                            <th>Fecha inicial de creación</th>
                            <th>Fecha final de creación</th>
                            <th>Fecha inicial de activación</th>
                            <th>Fecha final de activación</th>
                            <th>Área</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Inducción</td>
                            <td>01/01/2021</td>
                            <td>15/01/2021</td>
                            <td>16/01/2021</td>
                            <td>30/01/2021</td>
                            <td>General</td>
                            <td>Creado</td>
                            <td>
                                <a href="" class="d-none d-sm-inline-block btn btn-sm btn-warning shadow-sm float-left pr-1">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <a href="" class="d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm ml-2">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>Comunicación Asertiva</td>
                            <td>01/02/2021</td>
                            <td>15/02/2021</td>
                            <td>16/02/2021</td>
                            <td>30/02/2021</td>
                            <td>Desarrollo Humano</td>
                            <td>En progreso</td>
                            <td>
                                <a href="" class="d-none d-sm-inline-block btn btn-sm btn-warning shadow-sm float-left pr-1">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <a href="" class="d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm ml-2">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>Habilidades Comerciales</td>
                            <td>01/03/2021</td>
                            <td>15/03/2021</td>
                            <td>16/03/2021</td>
                            <td>30/03/2021</td>
                            <td>Comercial</td>
                            <td>Pendiente</td>
                            <td>
                                <a href="" class="d-none d-sm-inline-block btn btn-sm btn-warning shadow-sm float-left pr-1">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <a href="" class="d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm ml-2">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>