<!-- template for the modal component -->
<div id="modal-template">
    <transition name="modal">
        <div class="modal-mask">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <slot name="header"></slot>
                        <button class="close" @click="$emit('close')">
                            x
                        </button>
                    </div>

                    <div class="modal-body">
                        <slot name="body"></slot>
                    </div>

                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" @click="$emit('close')">Cancel</button>
                        <slot name="footer"></slot>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</div>
