<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-end mb-4">
        <a href="#" class="float-right d-sm-inline-block btn btn-sm btn-primary shadow-sm">
            <i class="fas fa-project-diagram fa-sm text-white-50 mr-2"></i> 
            Ver Gantt
        </a>
    </div>
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h4 mb-2 text-gray-900">
            Agenda          
        </h1> 
        <button type="button" class="d-sm-inline-block btn btn-sm btn-danger my-btn-red shadow-sm" 
            data-toggle="modal" data-target="#modal-agenda" @click="addClick()" id="show-modal">
            <i class="fas fa-plus fa-sm text-white-50 mr-2"></i>
            Nueva Actividad
        </button>       
    </div>        

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive my-text-14">
                <table class="table table-bordered" id="dataTable-Agenda" width="100%" cellspacing="0">                    
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Curso</th>
                            <th>Fecha inicial de creación</th>
                            <th>Fecha final de creación</th>
                            <th>Fecha inicial de activación</th>
                            <th>Fecha final de activación</th>
                            <th>Área</th>
                            <th>Estado</th>
                            <th class="text-center">Editar</th>
                            <th class="text-center">Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="actividad in actividades">
                            <td>{{actividad.id}}</td>
                            <td>{{actividad.curso.nombre}}</td>
                            <td>{{actividad.fechaInicrea}}</td>
                            <td>{{actividad.fechaFincrea}}</td>
                            <td>{{actividad.fechaIniact}}</td>
                            <td>{{actividad.fechaFinact}}</td>
                            <td>{{actividad.area.nombre}}</td>
                            <td>{{actividad.estado}}</td>
                            <td class="text-center">
                                <button type="button" class="d-sm-inline-block btn btn-sm btn-warning shadow-sm" 
                                    data-toggle="modal" data-target="#modal-agenda" @click="editClick(actividad)" id="show-modal">
                                    <i class="fas fa-edit"></i>
                                </button>
                            </td>
                            <td class="text-center">
                                <button type="button" class="d-sm-inline-block btn btn-sm btn-danger my-btn-red shadow-sm" 
                                    @click="deleteClick(actividad.id)">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- Agenda Modal-->
                <Modal v-if="showModal" @close="showModal = false">
                    <h5 class="modal-title" slot="header">{{modalTitle}}</h5>
                    <form slot="body">
                        <div class="row mb-3">
                            <label for="Curso" class="col-sm-5 col-form-label-sm">Curso:</label>
                            <div class="col-sm-7">
                                <select id="Curso" class="form-control" v-model="Curso">
                                    <option selected>Seleccione un curso</option>
                                    <option v-for="curso in cursos">
                                        {{ curso.nombre }}
                                    </option>                                    
                                </select>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="FechaIniCre" class="col-sm-5 col-form-label-sm">
                                Fecha inicial de creación:
                            </label>
                            <div class="col-sm-7">
                                <input type="date" class="form-control" name="FechaIniCre" v-model="FechaIniCre">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="FechaFinCre" class="col-sm-5 col-form-label-sm">
                                Fecha final de creación:
                            </label>
                            <div class="col-sm-7">
                                <input type="date" class="form-control" name="FechaFinCre" v-model="FechaFinCre">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="FechaIniAct" class="col-sm-5 col-form-label-sm">
                                Fecha inicial de activación:
                            </label>
                            <div class="col-sm-7">
                                <input type="date" class="form-control" name="FechaIniAct" v-model="FechaIniAct">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="FechaFinAct" class="col-sm-5 col-form-label-sm">
                                Fecha final de activación:
                            </label>
                            <div class="col-sm-7">
                                <input type="date" class="form-control" name="FechaFinAct" v-model="FechaFinAct">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="Area" class="col-sm-5 col-form-label-sm">
                                Área:
                            </label>
                            <div class="col-sm-7">
                                <select id="Area" class="form-control" v-model="Area">
                                    <option selected>Seleccione un área</option>
                                    <option v-for="area in areas">
                                        {{ area.nombre }}
                                    </option> 
                                </select>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="Estado" class="col-sm-5 col-form-label">
                                Estado
                            </label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" name="Estado" v-model="Estado">
                            </div>
                        </div>                        
                    </form>
                    <div slot="footer">                            
                        <button type="submit" v-if="id==0" class="btn btn-danger my-btn-red shadow-sm">Agendar</button>
                        <button type="submit" v-if="id!=0" class="btn btn-danger my-btn-red shadow-sm">Actualizar</button>
                    </div>
                </Modal>
            </div>
        </div>
    </div>
</div>