<ul class="navbar-nav my-bg-black sidebar sidebar-dark accordion my-w-200" id="accordionSidebar">

    <!-- Logo y Marca -->
    <router-link to="/" class="sidebar-brand d-flex align-items-center justify-content-center m-3 p-0">

        <img
            src="../../assets/logo.svg"
            alt="Logo de Intrena"
            width="32px"
        />

        <div class="sidebar-brand-text my-ml-10">
            <img 
                src="../../assets/logo_type.svg" 
                alt="Logo-nombre de Intrena" 
                width="111px">                    
        </div>
        
    </router-link>

    <li class="nav-item mt-1 mb-2">
        <router-link to="/" class="nav-link py-2">
            <i class="fas fa-calendar-alt"></i>
            <span>Agenda</span> 
        </router-link>
    </li>
    <li class="nav-item mt-1 mb-2">
        <router-link to="/cursos" class="nav-link py-2  px-0">
            <i class="fas fa-chalkboard-teacher  pl-3"></i>
            <span>Cursos</span> 
        </router-link>
    </li>
    <li class="nav-item mt-1 mb-2">
        <router-link to="/usuarios" class="nav-link py-2">
            <i class="fas fa-users"></i>
            <span>Usuarios</span> 
        </router-link>
    </li>
    <li class="nav-item mt-1 mb-2">
        <router-link to="/roles" class="nav-link py-2">
            <i class="fas fa-user-tag"></i>
            <span>Roles</span> 
        </router-link>
    </li>
    <li class="nav-item mt-1 mb-2">
        <router-link to="/permisos" class="nav-link py-2">
            <i class="fas fa-user-shield"></i>
            <span>Permisos</span> 
        </router-link>
    </li>
    <li class="nav-item mt-1 mb-2">
        <router-link to="/areas" class="nav-link py-2">
            <i class="fab fa-adn"></i>
            <span>Áreas</span> 
        </router-link>
    </li>

</ul>
