<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h4 mb-2 text-gray-900">
            Usuarios          
        </h1> 
        <button type="button" class="d-sm-inline-block btn btn-sm btn-danger my-btn-red shadow-sm" 
            data-toggle="modal" data-target="#modal-agenda" @click="addClick()" id="show-modal">
            <i class="fas fa-plus fa-sm text-white-50 mr-2"></i>
            Nuevo usuario
        </button>
    </div>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive my-text-14">
                <table class="table table-bordered" id="dataTable-Usuarios" width="100%" cellspacing="0">                    
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Email</th>
                            <th class="text-center">Editar</th>
                            <th class="text-center">Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="usuario in usuarios">
                            <td>{{usuario.id}}</td>
                            <td>{{usuario.nombre}}</td>
                            <td>{{usuario.email}}</td>
                            <td class="text-center">
                                <button type="button" class="d-sm-inline-block btn btn-sm btn-warning shadow-sm" 
                                    data-toggle="modal" data-target="#modal-agenda" @click="editClick(usuario)" id="show-modal">
                                    <i class="fas fa-edit"></i>
                                </button>
                            </td>
                            <td class="text-center">
                                <button type="button" class="d-sm-inline-block btn btn-sm btn-danger my-btn-red shadow-sm ml-2" 
                                    @click="deleteClick(usuario.id)">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- Agenda Modal-->
                <Modal v-if="showModal" @close="showModal = false">
                    <h5 class="modal-title" slot="header">{{modalTitle}}</h5>
                    <form slot="body">
                        <div class="row mb-3">
                            <label for="Nombre" class="col-sm-5 col-form-label">
                                Nombre
                            </label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" name="Nombre" v-model="Nombre">
                            </div>
                        </div> 
                        <div class="row mb-3">
                            <label for="Email" class="col-sm-5 col-form-label">
                                Email
                            </label>
                            <div class="col-sm-7">
                                <input type="email" class="form-control" name="Email" v-model="Email">
                            </div>
                        </div> 
                        <div class="row mb-3">
                            <label for="Password" class="col-sm-5 col-form-label">
                                Password
                            </label>
                            <div class="col-sm-7">
                                <input type="password" class="form-control" name="Password" v-model="Password">
                            </div>
                        </div>                        
                    </form>
                    <div slot="footer">                            
                        <button type="button" @click="createClick()" v-if="id==0" class="btn btn-danger my-btn-red shadow-sm">Guardar</button>
                        <button type="button" @click="updateClick()" v-if="id!=0" class="btn btn-danger my-btn-red shadow-sm">Actualizar</button>
                    </div>
                </Modal>
            </div>
        </div>
    </div>
</div>